.panel, .value {
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
    background-color: yellow;
    border: 3px solid black;
    display:flex;
    justify-content: stretch;
    width: 620px;
    z-index: 2;
}

.flexbox-item1{
    padding-left: 35px;
    padding-bottom: 200px;
    margin: auto;
    z-index: 3;
}



.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

